/* write your override styles here */

body #wall .tag-1 {
    display: none;
}

body div#wall div[id=tag-2] {
    display: none;
}

body div#wall  div#tag-3  .slick-wicked {
    display: none;
}

body div#wall div.parent > div#tag-4 {
    display: none;
}

body div#wall div#tag-5.slick {
    display: none;
}